Servers/Search Server/GPAS.SearchServer.Data/Service References/DispatchService/Service132.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dispatchserver:9011/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://dispatchserver:9011/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts" />
  <xs:import schemaLocation="http://dispatchserver:9011/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/GPAS.CassandraServer.Logic.Entities" />
  <xs:import schemaLocation="http://dispatchserver:9011/Service.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities" />
  <xs:import schemaLocation="http://dispatchserver:9011/Service.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/GPAS.JobServer.Logic.Entities" />
  <xs:import schemaLocation="http://dispatchserver:9011/Service.svc?xsd=xsd8" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://dispatchserver:9011/Service.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/GPAS.DataImport.GlobalResolve" />
  <xs:import schemaLocation="http://dispatchserver:9011/Service.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/GPAS.DataImport.ConceptsToGenerate" />
  <xs:import schemaLocation="http://dispatchserver:9011/Service.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/GPAS.DataImport.GlobalResolve.Suite" />
  <xs:import schemaLocation="http://dispatchserver:9011/Service.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Publish" />
  <xs:import schemaLocation="http://dispatchserver:9011/Service.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.NLP" />
  <xs:element name="GetObjectListById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dbObjectIDs" nillable="true" type="q1:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectListByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts" minOccurs="0" name="GetObjectListByIdResult" nillable="true" type="q2:ArrayOfKObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertyForObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts" minOccurs="0" name="kObject" nillable="true" type="q3:KObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertyForObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts" minOccurs="0" name="GetPropertyForObjectResult" nillable="true" type="q4:ArrayOfKProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertyListById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dbOPropertyIDs" nillable="true" type="q5:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertyListByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts" minOccurs="0" name="GetPropertyListByIdResult" nillable="true" type="q6:ArrayOfKProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecifiedPropertiesOfObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objectsId" nillable="true" type="q7:ArrayOflong" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="propertiesType" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecifiedPropertiesOfObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts" minOccurs="0" name="GetSpecifiedPropertiesOfObjectResult" nillable="true" type="q9:ArrayOfKProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinksSourcedByObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts" minOccurs="0" name="kObject" nillable="true" type="q10:KObject" />
        <xs:element minOccurs="0" name="relationshipTypeURI" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinksSourcedByObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts" minOccurs="0" name="GetLinksSourcedByObjectResult" nillable="true" type="q11:ArrayOfRelationshipBaseKlink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationshipListById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dbRelationshipIDs" nillable="true" type="q12:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationshipListByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts" minOccurs="0" name="GetRelationshipListByIdResult" nillable="true" type="q13:ArrayOfRelationshipBaseKlink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationshipsBySourceObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objectID" type="xs:long" />
        <xs:element minOccurs="0" name="typeURI" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationshipsBySourceObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts" minOccurs="0" name="GetRelationshipsBySourceObjectResult" nillable="true" type="q14:ArrayOfRelationshipBaseKlink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExistingRelationship">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeURI" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="source" type="xs:long" />
        <xs:element minOccurs="0" name="target" type="xs:long" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts" minOccurs="0" name="direction" type="q15:LinkDirection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExistingRelationshipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts" minOccurs="0" name="GetExistingRelationshipResult" nillable="true" type="q16:RelationshipBaseKlink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaUrisForObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objectID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaUrisForObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts" minOccurs="0" name="GetMediaUrisForObjectResult" nillable="true" type="q17:ArrayOfKMedia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuickSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuickSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts" minOccurs="0" name="QuickSearchResult" nillable="true" type="q18:ArrayOfKObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformFilterSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stream" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="count" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformFilterSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PerformFilterSearchResult" nillable="true" type="q19:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformSelectMatching">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stream" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObjectIDs" nillable="true" type="q20:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformSelectMatchingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PerformSelectMatchingResult" nillable="true" type="q21:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRelatedEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="searchedObjectIDs" nillable="true" type="q22:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRelatedEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts" minOccurs="0" name="FindRelatedEntitiesResult" nillable="true" type="q23:ArrayOfRelationshipBaseKlink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRelatedDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="searchedObjectIDs" nillable="true" type="q24:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRelatedDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts" minOccurs="0" name="FindRelatedDocumentsResult" nillable="true" type="q25:ArrayOfRelationshipBaseKlink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRelatedEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="searchedObjectIDs" nillable="true" type="q26:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRelatedEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts" minOccurs="0" name="FindRelatedEventsResult" nillable="true" type="q27:ArrayOfRelationshipBaseKlink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRelatedEntitiesAppearedInEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="searchedObjectIDs" nillable="true" type="q28:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRelatedEntitiesAppearedInEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts" minOccurs="0" name="FindRelatedEntitiesAppearedInEventsResult" nillable="true" type="q29:ArrayOfEventBaseKlink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProperiesByTypeAndValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProperiesByTypeAndValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts" minOccurs="0" name="FindProperiesByTypeAndValueResult" nillable="true" type="q30:ArrayOfKProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUriOfDatabasesForImport">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUriOfDatabasesForImportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUriOfDatabasesForImportResult" nillable="true" type="q31:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTablesAndViewsOfDatabaseForImport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbForImportURI" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTablesAndViewsOfDatabaseForImportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTablesAndViewsOfDatabaseForImportResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BigDataSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keySpaceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="columnName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BigDataSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/GPAS.CassandraServer.Logic.Entities" minOccurs="0" name="BigDataSearchResult" type="q32:BDPreview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeyspaces">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeyspacesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetKeyspacesResult" nillable="true" type="q33:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeyIndexes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyspaceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeyIndexesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetKeyIndexesResult" nillable="true" type="q34:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetColumnNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyspaceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetColumnNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetColumnNamesResult" nillable="true" type="q35:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBigDataAvailable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBigDataAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsBigDataAvailableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNewImportRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities" minOccurs="0" name="requestsData" nillable="true" type="q36:ArrayOfSemiStructuredDataImportRequestMetadata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNewImportRequestsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobRequests">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/GPAS.JobServer.Logic.Entities" minOccurs="0" name="GetJobRequestsResult" nillable="true" type="q37:ArrayOfJobRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOntology">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOntologyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.microsoft.com/Message" name="GetOntologyResult" type="q38:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIcon">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIconResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.microsoft.com/Message" name="GetIconResult" type="q39:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOntologyFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/Message" name="reader" type="q40:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOntologyFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileRepositoryDirectories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileRepositoryDirectoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities" minOccurs="0" name="GetFileRepositoryDirectoriesResult" nillable="true" type="q41:ArrayOfDirectoryContent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDirectoryFromFileRepository">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDirectoryFromFileRepositoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDirectoryFromFileRepositoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDirectoryInFileRepository">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDirectoryInFileRepositoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateDirectoryInFileRepositoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameDirectoryInFileRepository">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourcePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameDirectoryInFileRepositoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RenameDirectoryInFileRepositoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileFromFileRepository">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourcePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileFromFileRepositoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadFileFromFileRepositoryResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadToFileRepository">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileToUpload" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="sourcePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadToFileRepositoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadToFileRepositoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishGraph">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GraphImage" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="GraphArrangement" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="nodesCount" type="xs:int" />
        <xs:element minOccurs="0" name="timeCreated" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishGraphResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities" minOccurs="0" name="PublishGraphResult" nillable="true" type="q42:KGraphArrangement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublishedGraphs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublishedGraphsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities" minOccurs="0" name="GetPublishedGraphsResult" nillable="true" type="q43:ArrayOfKGraphArrangement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublishedGraphImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kGraphArrangementID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublishedGraphImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPublishedGraphImageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublishedGraph">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kGraphArrangementID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublishedGraphResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPublishedGraphResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePublishedGraph">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="graphID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePublishedGraphResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePublishedGraphResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapTileImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zoomLevel" type="xs:int" />
        <xs:element minOccurs="0" name="x" type="xs:long" />
        <xs:element minOccurs="0" name="y" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapTileImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMapTileImageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoLocationBaseOnIP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoLocationBaseOnIPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities" minOccurs="0" name="GetGeoLocationBaseOnIPResult" nillable="true" type="q44:GeographicalLocationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGeoSpecialInformationBasedOnIP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="latitude" type="xs:double" />
        <xs:element minOccurs="0" name="longitude" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGeoSpecialInformationBasedOnIPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertGeoSpecialInformationBasedOnIPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewObjectId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewObjectIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewObjectIdResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPropertyId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPropertyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewPropertyIdResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewRelationId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewRelationIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewRelationIdResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewMediaId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewMediaIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewMediaIdResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewObjectIdRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewObjectIdRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewObjectIdRangeResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPropertyIdRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPropertyIdRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewPropertyIdRangeResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewRelationIdRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewRelationIdRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewRelationIdRangeResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewMediaIdRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewMediaIdRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewMediaIdRangeResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastAssignedObjectID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastAssignedObjectIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastAssignedObjectIDResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastAssignedRelatioshshipID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastAssignedRelatioshshipIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastAssignedRelatioshshipIDResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeBasedResolutionCandidates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/GPAS.DataImport.GlobalResolve" minOccurs="0" name="linkingProperties" nillable="true" type="q45:ArrayOfLinkingProperty" />
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/GPAS.DataImport.ConceptsToGenerate" minOccurs="0" name="importingObjects" nillable="true" type="q46:ArrayOfImportingObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeBasedResolutionCandidatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/GPAS.DataImport.GlobalResolve" minOccurs="0" name="GetTypeBasedResolutionCandidatesResult" nillable="true" type="q47:ArrayOfGlobalResolutionCandidates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGlobalResolutionSuite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resolutionSuiteFile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGlobalResolutionSuiteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGlobalResolutionSuite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/GPAS.DataImport.GlobalResolve.Suite" minOccurs="0" name="accessDetail" nillable="true" type="q48:AccessDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGlobalResolutionSuiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGlobalResolutionSuiteResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGlobalResolutionSuiteList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGlobalResolutionSuiteListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/GPAS.DataImport.GlobalResolve.Suite" minOccurs="0" name="GetGlobalResolutionSuiteListResult" nillable="true" type="q49:ArrayOfAccessDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Publish">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Publish" minOccurs="0" name="addedConcept" nillable="true" type="q50:AddedConcepts" />
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Publish" minOccurs="0" name="modifiedConcept" nillable="true" type="q51:ModifiedConcepts" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Publish" minOccurs="0" name="resolvedObjects" nillable="true" type="q52:ArrayOfResolvedObject" />
        <xs:element minOccurs="0" name="isContinousPublish" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Publish" minOccurs="0" name="PublishResult" nillable="true" type="q53:PublishResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalizeContinousPublish">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalizeContinousPublishResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OptimizeDeployment">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OptimizeDeploymentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDispatchCurrentDateTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDispatchCurrentDateTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDispatchCurrentDateTimeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentPlaneText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="docID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentPlaneTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDocumentPlaneTextResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetectLanguage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetectLanguageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.NLP" minOccurs="0" name="DetectLanguageResult" nillable="true" type="q54:ArrayOfDetectedLanguage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagCloud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagCloudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.NLP" minOccurs="0" name="GetTagCloudResult" nillable="true" type="q55:ArrayOfTagCloudKeyPhrase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>