Servers/Horizon/GPAS.Horizon.Access/Service References/SearchService/GPAS.Dispatch.Entities.Publish1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Publish" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Publish" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SynchronizationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsCompletelySynchronized" type="xs:boolean" />
      <xs:element minOccurs="0" name="SyncronizationLog" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SynchronizationResult" nillable="true" type="tns:SynchronizationResult" />
</xs:schema>