Servers/Horizon/GPAS.Horizon.Access/Service References/SearchService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities.Sync" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Publish" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GPAS.GeoSearch" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GPAS.FilterSearch" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities.SearchEngine.Documents" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GPAS.StatisticalQuery" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GPAS.StatisticalQuery.ResultNode" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities.IndexChecking" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GPAS.TextualSearch" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_QuickSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:QuickSearch" />
  </wsdl:message>
  <wsdl:message name="IService_QuickSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuickSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IService_PerformFilterSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:PerformFilterSearch" />
  </wsdl:message>
  <wsdl:message name="IService_PerformFilterSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:PerformFilterSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IService_PerformSelectMatching_InputMessage">
    <wsdl:part name="parameters" element="tns:PerformSelectMatching" />
  </wsdl:message>
  <wsdl:message name="IService_PerformSelectMatching_OutputMessage">
    <wsdl:part name="parameters" element="tns:PerformSelectMatchingResponse" />
  </wsdl:message>
  <wsdl:message name="IService_FindPropertiesSameWith_InputMessage">
    <wsdl:part name="parameters" element="tns:FindPropertiesSameWith" />
  </wsdl:message>
  <wsdl:message name="IService_FindPropertiesSameWith_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindPropertiesSameWithResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SyncPublishChanges_InputMessage">
    <wsdl:part name="parameters" element="tns:SyncPublishChanges" />
  </wsdl:message>
  <wsdl:message name="IService_SyncPublishChanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncPublishChangesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_FinalizeContinousPublish_InputMessage">
    <wsdl:part name="parameters" element="tns:FinalizeContinousPublish" />
  </wsdl:message>
  <wsdl:message name="IService_FinalizeContinousPublish_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinalizeContinousPublishResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ResetIndexes_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetIndexes" />
  </wsdl:message>
  <wsdl:message name="IService_ResetIndexes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetIndexesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_IsDataIndicesStable_InputMessage">
    <wsdl:part name="parameters" element="tns:IsDataIndicesStable" />
  </wsdl:message>
  <wsdl:message name="IService_IsDataIndicesStable_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsDataIndicesStableResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveSearchIndexes_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSearchIndexes" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveSearchIndexes_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSearchIndexesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Optimize_InputMessage">
    <wsdl:part name="parameters" element="tns:Optimize" />
  </wsdl:message>
  <wsdl:message name="IService_Optimize_OutputMessage">
    <wsdl:part name="parameters" element="tns:OptimizeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_PerformGeoCircleSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:PerformGeoCircleSearch" />
  </wsdl:message>
  <wsdl:message name="IService_PerformGeoCircleSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:PerformGeoCircleSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IService_PerformGeoPolygonSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:PerformGeoPolygonSearch" />
  </wsdl:message>
  <wsdl:message name="IService_PerformGeoPolygonSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:PerformGeoPolygonSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IService_PerformGeoCircleFilterSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:PerformGeoCircleFilterSearch" />
  </wsdl:message>
  <wsdl:message name="IService_PerformGeoCircleFilterSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:PerformGeoCircleFilterSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IService_PerformGeoPolygonFilterSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:PerformGeoPolygonFilterSearch" />
  </wsdl:message>
  <wsdl:message name="IService_PerformGeoPolygonFilterSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:PerformGeoPolygonFilterSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDocumentPossibleExtractedContent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentPossibleExtractedContent" />
  </wsdl:message>
  <wsdl:message name="IService_GetDocumentPossibleExtractedContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentPossibleExtractedContentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddNewGroupFieldsToSearchServer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewGroupFieldsToSearchServer" />
  </wsdl:message>
  <wsdl:message name="IService_AddNewGroupFieldsToSearchServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewGroupFieldsToSearchServerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SynchronizeDataSource_InputMessage">
    <wsdl:part name="parameters" element="tns:SynchronizeDataSource" />
  </wsdl:message>
  <wsdl:message name="IService_SynchronizeDataSource_OutputMessage">
    <wsdl:part name="parameters" element="tns:SynchronizeDataSourceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataSources_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSources" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataSources_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSourcesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllDataSources_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDataSources" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllDataSources_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDataSourcesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_FaceDetection_InputMessage">
    <wsdl:part name="parameters" element="tns:FaceDetection" />
  </wsdl:message>
  <wsdl:message name="IService_FaceDetection_OutputMessage">
    <wsdl:part name="parameters" element="tns:FaceDetectionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_FaceRecognition_InputMessage">
    <wsdl:part name="parameters" element="tns:FaceRecognition" />
  </wsdl:message>
  <wsdl:message name="IService_FaceRecognition_OutputMessage">
    <wsdl:part name="parameters" element="tns:FaceRecognitionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_IsMachneVisonServiceInstalled_InputMessage">
    <wsdl:part name="parameters" element="tns:IsMachneVisonServiceInstalled" />
  </wsdl:message>
  <wsdl:message name="IService_IsMachneVisonServiceInstalled_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsMachneVisonServiceInstalledResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RunStatisticalQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:RunStatisticalQuery" />
  </wsdl:message>
  <wsdl:message name="IService_RunStatisticalQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:RunStatisticalQueryResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RetrieveObjectIDsByStatisticalQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveObjectIDsByStatisticalQuery" />
  </wsdl:message>
  <wsdl:message name="IService_RetrieveObjectIDsByStatisticalQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveObjectIDsByStatisticalQueryResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RetrievePropertyValueStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePropertyValueStatistics" />
  </wsdl:message>
  <wsdl:message name="IService_RetrievePropertyValueStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePropertyValueStatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RetrieveLinkTypeStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveLinkTypeStatistics" />
  </wsdl:message>
  <wsdl:message name="IService_RetrieveLinkTypeStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveLinkTypeStatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RetrieveLinkedObjectIDsByStatisticalQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveLinkedObjectIDsByStatisticalQuery" />
  </wsdl:message>
  <wsdl:message name="IService_RetrieveLinkedObjectIDsByStatisticalQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveLinkedObjectIDsByStatisticalQueryResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RetrievePropertyBarValuesStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePropertyBarValuesStatistics" />
  </wsdl:message>
  <wsdl:message name="IService_RetrievePropertyBarValuesStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePropertyBarValuesStatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_IndexChecking_InputMessage">
    <wsdl:part name="parameters" element="tns:IndexChecking" />
  </wsdl:message>
  <wsdl:message name="IService_IndexChecking_OutputMessage">
    <wsdl:part name="parameters" element="tns:IndexCheckingResponse" />
  </wsdl:message>
  <wsdl:message name="IService_IsAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAvailable" />
  </wsdl:message>
  <wsdl:message name="IService_IsAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetTimeLineMaxFrequecyCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeLineMaxFrequecyCount" />
  </wsdl:message>
  <wsdl:message name="IService_GetTimeLineMaxFrequecyCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeLineMaxFrequecyCountResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetTimeLineMaxDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeLineMaxDate" />
  </wsdl:message>
  <wsdl:message name="IService_GetTimeLineMaxDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeLineMaxDateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetTimeLineMinDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeLineMinDate" />
  </wsdl:message>
  <wsdl:message name="IService_GetTimeLineMinDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeLineMinDateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_PerformTextualSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:PerformTextualSearch" />
  </wsdl:message>
  <wsdl:message name="IService_PerformTextualSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:PerformTextualSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDBPropertyByObjectId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDBPropertyByObjectId" />
  </wsdl:message>
  <wsdl:message name="IService_GetDBPropertyByObjectId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDBPropertyByObjectIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetObject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObject" />
  </wsdl:message>
  <wsdl:message name="IService_GetObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDBPropertyByObjectIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDBPropertyByObjectIds" />
  </wsdl:message>
  <wsdl:message name="IService_GetDBPropertyByObjectIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDBPropertyByObjectIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSpecifiedPropertiesOfObjectsByTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecifiedPropertiesOfObjectsByTypes" />
  </wsdl:message>
  <wsdl:message name="IService_GetSpecifiedPropertiesOfObjectsByTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecifiedPropertiesOfObjectsByTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RegisterNewDataSource_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterNewDataSource" />
  </wsdl:message>
  <wsdl:message name="IService_RegisterNewDataSource_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterNewDataSourceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RetrieveDataSourceACLs_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDataSourceACLs" />
  </wsdl:message>
  <wsdl:message name="IService_RetrieveDataSourceACLs_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDataSourceACLsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetObjectByIDs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectByIDs" />
  </wsdl:message>
  <wsdl:message name="IService_GetObjectByIDs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectByIDsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetLastAsignedDataSourceId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastAsignedDataSourceId" />
  </wsdl:message>
  <wsdl:message name="IService_GetLastAsignedDataSourceId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastAsignedDataSourceIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetLastAsignedObjectId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastAsignedObjectId" />
  </wsdl:message>
  <wsdl:message name="IService_GetLastAsignedObjectId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastAsignedObjectIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetLastAsignedPropertyId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastAsignedPropertyId" />
  </wsdl:message>
  <wsdl:message name="IService_GetLastAsignedPropertyId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastAsignedPropertyIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetLastAsignedRelationId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastAsignedRelationId" />
  </wsdl:message>
  <wsdl:message name="IService_GetLastAsignedRelationId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastAsignedRelationIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetLastAssignedGraphaId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastAssignedGraphaId" />
  </wsdl:message>
  <wsdl:message name="IService_GetLastAssignedGraphaId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastAssignedGraphaIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDBPropertyByObjectIdsWithoutAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDBPropertyByObjectIdsWithoutAuthorization" />
  </wsdl:message>
  <wsdl:message name="IService_GetDBPropertyByObjectIdsWithoutAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDBPropertyByObjectIdsWithoutAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RetrieveRelationships_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelationships" />
  </wsdl:message>
  <wsdl:message name="IService_RetrieveRelationships_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRelationshipsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetRelationships_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRelationships" />
  </wsdl:message>
  <wsdl:message name="IService_GetRelationships_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRelationshipsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SaveNew_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveNew" />
  </wsdl:message>
  <wsdl:message name="IService_SaveNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveNewResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetGraphArrangements_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGraphArrangements" />
  </wsdl:message>
  <wsdl:message name="IService_GetGraphArrangements_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGraphArrangementsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetGraphImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGraphImage" />
  </wsdl:message>
  <wsdl:message name="IService_GetGraphImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGraphImageResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetGraphArrangementXML_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGraphArrangementXML" />
  </wsdl:message>
  <wsdl:message name="IService_GetGraphArrangementXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGraphArrangementXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteGraph_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGraph" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteGraph_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGraphResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetRelationshipsBySourceOrTargetObjectWithoutAuthParams_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRelationshipsBySourceOrTargetObjectWithoutAuthParams" />
  </wsdl:message>
  <wsdl:message name="IService_GetRelationshipsBySourceOrTargetObjectWithoutAuthParams_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRelationshipsBySourceOrTargetObjectWithoutAuthParamsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSubsetOfConceptsByPermission_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubsetOfConceptsByPermission" />
  </wsdl:message>
  <wsdl:message name="IService_GetSubsetOfConceptsByPermission_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubsetOfConceptsByPermissionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RetrieveTopNDataSourceACLs_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveTopNDataSourceACLs" />
  </wsdl:message>
  <wsdl:message name="IService_RetrieveTopNDataSourceACLs_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveTopNDataSourceACLsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetRelationshipsBySourceObject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRelationshipsBySourceObject" />
  </wsdl:message>
  <wsdl:message name="IService_GetRelationshipsBySourceObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRelationshipsBySourceObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetRelationshipsBySourceOrTargetObject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRelationshipsBySourceOrTargetObject" />
  </wsdl:message>
  <wsdl:message name="IService_GetRelationshipsBySourceOrTargetObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRelationshipsBySourceOrTargetObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetExistingRelationship_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExistingRelationship" />
  </wsdl:message>
  <wsdl:message name="IService_GetExistingRelationship_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExistingRelationshipResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSourceLink_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSourceLink" />
  </wsdl:message>
  <wsdl:message name="IService_GetSourceLink_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSourceLinkResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSpecifiedPropertiesOfObjectsByTypeAndValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecifiedPropertiesOfObjectsByTypeAndValue" />
  </wsdl:message>
  <wsdl:message name="IService_GetSpecifiedPropertiesOfObjectsByTypeAndValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecifiedPropertiesOfObjectsByTypeAndValueResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="QuickSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/QuickSearch" message="tns:IService_QuickSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/QuickSearchResponse" message="tns:IService_QuickSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PerformFilterSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/PerformFilterSearch" message="tns:IService_PerformFilterSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PerformFilterSearchResponse" message="tns:IService_PerformFilterSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PerformSelectMatching">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/PerformSelectMatching" message="tns:IService_PerformSelectMatching_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PerformSelectMatchingResponse" message="tns:IService_PerformSelectMatching_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindPropertiesSameWith">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/FindPropertiesSameWith" message="tns:IService_FindPropertiesSameWith_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/FindPropertiesSameWithResponse" message="tns:IService_FindPropertiesSameWith_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyncPublishChanges">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SyncPublishChanges" message="tns:IService_SyncPublishChanges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SyncPublishChangesResponse" message="tns:IService_SyncPublishChanges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinalizeContinousPublish">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/FinalizeContinousPublish" message="tns:IService_FinalizeContinousPublish_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/FinalizeContinousPublishResponse" message="tns:IService_FinalizeContinousPublish_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetIndexes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ResetIndexes" message="tns:IService_ResetIndexes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ResetIndexesResponse" message="tns:IService_ResetIndexes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsDataIndicesStable">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/IsDataIndicesStable" message="tns:IService_IsDataIndicesStable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/IsDataIndicesStableResponse" message="tns:IService_IsDataIndicesStable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveSearchIndexes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveSearchIndexes" message="tns:IService_RemoveSearchIndexes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveSearchIndexesResponse" message="tns:IService_RemoveSearchIndexes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Optimize">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Optimize" message="tns:IService_Optimize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/OptimizeResponse" message="tns:IService_Optimize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PerformGeoCircleSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/PerformGeoCircleSearch" message="tns:IService_PerformGeoCircleSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PerformGeoCircleSearchResponse" message="tns:IService_PerformGeoCircleSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PerformGeoPolygonSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/PerformGeoPolygonSearch" message="tns:IService_PerformGeoPolygonSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PerformGeoPolygonSearchResponse" message="tns:IService_PerformGeoPolygonSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PerformGeoCircleFilterSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/PerformGeoCircleFilterSearch" message="tns:IService_PerformGeoCircleFilterSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PerformGeoCircleFilterSearchResponse" message="tns:IService_PerformGeoCircleFilterSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PerformGeoPolygonFilterSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/PerformGeoPolygonFilterSearch" message="tns:IService_PerformGeoPolygonFilterSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PerformGeoPolygonFilterSearchResponse" message="tns:IService_PerformGeoPolygonFilterSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentPossibleExtractedContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDocumentPossibleExtractedContent" message="tns:IService_GetDocumentPossibleExtractedContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDocumentPossibleExtractedContentResponse" message="tns:IService_GetDocumentPossibleExtractedContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewGroupFieldsToSearchServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddNewGroupFieldsToSearchServer" message="tns:IService_AddNewGroupFieldsToSearchServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddNewGroupFieldsToSearchServerResponse" message="tns:IService_AddNewGroupFieldsToSearchServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SynchronizeDataSource">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SynchronizeDataSource" message="tns:IService_SynchronizeDataSource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SynchronizeDataSourceResponse" message="tns:IService_SynchronizeDataSource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSources">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDataSources" message="tns:IService_GetDataSources_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataSourcesResponse" message="tns:IService_GetDataSources_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDataSources">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllDataSources" message="tns:IService_GetAllDataSources_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllDataSourcesResponse" message="tns:IService_GetAllDataSources_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FaceDetection">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/FaceDetection" message="tns:IService_FaceDetection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/FaceDetectionResponse" message="tns:IService_FaceDetection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FaceRecognition">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/FaceRecognition" message="tns:IService_FaceRecognition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/FaceRecognitionResponse" message="tns:IService_FaceRecognition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsMachneVisonServiceInstalled">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/IsMachneVisonServiceInstalled" message="tns:IService_IsMachneVisonServiceInstalled_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/IsMachneVisonServiceInstalledResponse" message="tns:IService_IsMachneVisonServiceInstalled_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RunStatisticalQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RunStatisticalQuery" message="tns:IService_RunStatisticalQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RunStatisticalQueryResponse" message="tns:IService_RunStatisticalQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveObjectIDsByStatisticalQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RetrieveObjectIDsByStatisticalQuery" message="tns:IService_RetrieveObjectIDsByStatisticalQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RetrieveObjectIDsByStatisticalQueryResponse" message="tns:IService_RetrieveObjectIDsByStatisticalQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePropertyValueStatistics">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RetrievePropertyValueStatistics" message="tns:IService_RetrievePropertyValueStatistics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RetrievePropertyValueStatisticsResponse" message="tns:IService_RetrievePropertyValueStatistics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveLinkTypeStatistics">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RetrieveLinkTypeStatistics" message="tns:IService_RetrieveLinkTypeStatistics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RetrieveLinkTypeStatisticsResponse" message="tns:IService_RetrieveLinkTypeStatistics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveLinkedObjectIDsByStatisticalQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RetrieveLinkedObjectIDsByStatisticalQuery" message="tns:IService_RetrieveLinkedObjectIDsByStatisticalQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RetrieveLinkedObjectIDsByStatisticalQueryResponse" message="tns:IService_RetrieveLinkedObjectIDsByStatisticalQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePropertyBarValuesStatistics">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RetrievePropertyBarValuesStatistics" message="tns:IService_RetrievePropertyBarValuesStatistics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RetrievePropertyBarValuesStatisticsResponse" message="tns:IService_RetrievePropertyBarValuesStatistics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IndexChecking">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/IndexChecking" message="tns:IService_IndexChecking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/IndexCheckingResponse" message="tns:IService_IndexChecking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/IsAvailable" message="tns:IService_IsAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/IsAvailableResponse" message="tns:IService_IsAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeLineMaxFrequecyCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTimeLineMaxFrequecyCount" message="tns:IService_GetTimeLineMaxFrequecyCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTimeLineMaxFrequecyCountResponse" message="tns:IService_GetTimeLineMaxFrequecyCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeLineMaxDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTimeLineMaxDate" message="tns:IService_GetTimeLineMaxDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTimeLineMaxDateResponse" message="tns:IService_GetTimeLineMaxDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeLineMinDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTimeLineMinDate" message="tns:IService_GetTimeLineMinDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTimeLineMinDateResponse" message="tns:IService_GetTimeLineMinDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PerformTextualSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/PerformTextualSearch" message="tns:IService_PerformTextualSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PerformTextualSearchResponse" message="tns:IService_PerformTextualSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDBPropertyByObjectId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDBPropertyByObjectId" message="tns:IService_GetDBPropertyByObjectId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDBPropertyByObjectIdResponse" message="tns:IService_GetDBPropertyByObjectId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetObject" message="tns:IService_GetObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetObjectResponse" message="tns:IService_GetObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDBPropertyByObjectIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDBPropertyByObjectIds" message="tns:IService_GetDBPropertyByObjectIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDBPropertyByObjectIdsResponse" message="tns:IService_GetDBPropertyByObjectIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecifiedPropertiesOfObjectsByTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSpecifiedPropertiesOfObjectsByTypes" message="tns:IService_GetSpecifiedPropertiesOfObjectsByTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSpecifiedPropertiesOfObjectsByTypesResponse" message="tns:IService_GetSpecifiedPropertiesOfObjectsByTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterNewDataSource">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RegisterNewDataSource" message="tns:IService_RegisterNewDataSource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RegisterNewDataSourceResponse" message="tns:IService_RegisterNewDataSource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveDataSourceACLs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RetrieveDataSourceACLs" message="tns:IService_RetrieveDataSourceACLs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RetrieveDataSourceACLsResponse" message="tns:IService_RetrieveDataSourceACLs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObjectByIDs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetObjectByIDs" message="tns:IService_GetObjectByIDs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetObjectByIDsResponse" message="tns:IService_GetObjectByIDs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastAsignedDataSourceId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetLastAsignedDataSourceId" message="tns:IService_GetLastAsignedDataSourceId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetLastAsignedDataSourceIdResponse" message="tns:IService_GetLastAsignedDataSourceId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastAsignedObjectId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetLastAsignedObjectId" message="tns:IService_GetLastAsignedObjectId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetLastAsignedObjectIdResponse" message="tns:IService_GetLastAsignedObjectId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastAsignedPropertyId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetLastAsignedPropertyId" message="tns:IService_GetLastAsignedPropertyId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetLastAsignedPropertyIdResponse" message="tns:IService_GetLastAsignedPropertyId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastAsignedRelationId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetLastAsignedRelationId" message="tns:IService_GetLastAsignedRelationId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetLastAsignedRelationIdResponse" message="tns:IService_GetLastAsignedRelationId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastAssignedGraphaId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetLastAssignedGraphaId" message="tns:IService_GetLastAssignedGraphaId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetLastAssignedGraphaIdResponse" message="tns:IService_GetLastAssignedGraphaId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDBPropertyByObjectIdsWithoutAuthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDBPropertyByObjectIdsWithoutAuthorization" message="tns:IService_GetDBPropertyByObjectIdsWithoutAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDBPropertyByObjectIdsWithoutAuthorizationResponse" message="tns:IService_GetDBPropertyByObjectIdsWithoutAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelationships">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RetrieveRelationships" message="tns:IService_RetrieveRelationships_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RetrieveRelationshipsResponse" message="tns:IService_RetrieveRelationships_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRelationships">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetRelationships" message="tns:IService_GetRelationships_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetRelationshipsResponse" message="tns:IService_GetRelationships_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveNew">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SaveNew" message="tns:IService_SaveNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SaveNewResponse" message="tns:IService_SaveNew_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGraphArrangements">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetGraphArrangements" message="tns:IService_GetGraphArrangements_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetGraphArrangementsResponse" message="tns:IService_GetGraphArrangements_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGraphImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetGraphImage" message="tns:IService_GetGraphImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetGraphImageResponse" message="tns:IService_GetGraphImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGraphArrangementXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetGraphArrangementXML" message="tns:IService_GetGraphArrangementXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetGraphArrangementXMLResponse" message="tns:IService_GetGraphArrangementXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGraph">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteGraph" message="tns:IService_DeleteGraph_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteGraphResponse" message="tns:IService_DeleteGraph_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRelationshipsBySourceOrTargetObjectWithoutAuthParams">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetRelationshipsBySourceOrTargetObjectWithoutAuthParams" message="tns:IService_GetRelationshipsBySourceOrTargetObjectWithoutAuthParams_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetRelationshipsBySourceOrTargetObjectWithoutAuthParamsResponse" message="tns:IService_GetRelationshipsBySourceOrTargetObjectWithoutAuthParams_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubsetOfConceptsByPermission">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSubsetOfConceptsByPermission" message="tns:IService_GetSubsetOfConceptsByPermission_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSubsetOfConceptsByPermissionResponse" message="tns:IService_GetSubsetOfConceptsByPermission_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveTopNDataSourceACLs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RetrieveTopNDataSourceACLs" message="tns:IService_RetrieveTopNDataSourceACLs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RetrieveTopNDataSourceACLsResponse" message="tns:IService_RetrieveTopNDataSourceACLs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRelationshipsBySourceObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetRelationshipsBySourceObject" message="tns:IService_GetRelationshipsBySourceObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetRelationshipsBySourceObjectResponse" message="tns:IService_GetRelationshipsBySourceObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRelationshipsBySourceOrTargetObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetRelationshipsBySourceOrTargetObject" message="tns:IService_GetRelationshipsBySourceOrTargetObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetRelationshipsBySourceOrTargetObjectResponse" message="tns:IService_GetRelationshipsBySourceOrTargetObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExistingRelationship">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetExistingRelationship" message="tns:IService_GetExistingRelationship_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetExistingRelationshipResponse" message="tns:IService_GetExistingRelationship_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSourceLink">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSourceLink" message="tns:IService_GetSourceLink_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSourceLinkResponse" message="tns:IService_GetSourceLink_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecifiedPropertiesOfObjectsByTypeAndValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSpecifiedPropertiesOfObjectsByTypeAndValue" message="tns:IService_GetSpecifiedPropertiesOfObjectsByTypeAndValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSpecifiedPropertiesOfObjectsByTypeAndValueResponse" message="tns:IService_GetSpecifiedPropertiesOfObjectsByTypeAndValue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QuickSearch">
      <soap:operation soapAction="http://tempuri.org/IService/QuickSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformFilterSearch">
      <soap:operation soapAction="http://tempuri.org/IService/PerformFilterSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformSelectMatching">
      <soap:operation soapAction="http://tempuri.org/IService/PerformSelectMatching" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindPropertiesSameWith">
      <soap:operation soapAction="http://tempuri.org/IService/FindPropertiesSameWith" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncPublishChanges">
      <soap:operation soapAction="http://tempuri.org/IService/SyncPublishChanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinalizeContinousPublish">
      <soap:operation soapAction="http://tempuri.org/IService/FinalizeContinousPublish" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetIndexes">
      <soap:operation soapAction="http://tempuri.org/IService/ResetIndexes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsDataIndicesStable">
      <soap:operation soapAction="http://tempuri.org/IService/IsDataIndicesStable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveSearchIndexes">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveSearchIndexes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Optimize">
      <soap:operation soapAction="http://tempuri.org/IService/Optimize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformGeoCircleSearch">
      <soap:operation soapAction="http://tempuri.org/IService/PerformGeoCircleSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformGeoPolygonSearch">
      <soap:operation soapAction="http://tempuri.org/IService/PerformGeoPolygonSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformGeoCircleFilterSearch">
      <soap:operation soapAction="http://tempuri.org/IService/PerformGeoCircleFilterSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformGeoPolygonFilterSearch">
      <soap:operation soapAction="http://tempuri.org/IService/PerformGeoPolygonFilterSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentPossibleExtractedContent">
      <soap:operation soapAction="http://tempuri.org/IService/GetDocumentPossibleExtractedContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewGroupFieldsToSearchServer">
      <soap:operation soapAction="http://tempuri.org/IService/AddNewGroupFieldsToSearchServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SynchronizeDataSource">
      <soap:operation soapAction="http://tempuri.org/IService/SynchronizeDataSource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSources">
      <soap:operation soapAction="http://tempuri.org/IService/GetDataSources" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDataSources">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllDataSources" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FaceDetection">
      <soap:operation soapAction="http://tempuri.org/IService/FaceDetection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FaceRecognition">
      <soap:operation soapAction="http://tempuri.org/IService/FaceRecognition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsMachneVisonServiceInstalled">
      <soap:operation soapAction="http://tempuri.org/IService/IsMachneVisonServiceInstalled" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunStatisticalQuery">
      <soap:operation soapAction="http://tempuri.org/IService/RunStatisticalQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveObjectIDsByStatisticalQuery">
      <soap:operation soapAction="http://tempuri.org/IService/RetrieveObjectIDsByStatisticalQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrievePropertyValueStatistics">
      <soap:operation soapAction="http://tempuri.org/IService/RetrievePropertyValueStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveLinkTypeStatistics">
      <soap:operation soapAction="http://tempuri.org/IService/RetrieveLinkTypeStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveLinkedObjectIDsByStatisticalQuery">
      <soap:operation soapAction="http://tempuri.org/IService/RetrieveLinkedObjectIDsByStatisticalQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrievePropertyBarValuesStatistics">
      <soap:operation soapAction="http://tempuri.org/IService/RetrievePropertyBarValuesStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IndexChecking">
      <soap:operation soapAction="http://tempuri.org/IService/IndexChecking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAvailable">
      <soap:operation soapAction="http://tempuri.org/IService/IsAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeLineMaxFrequecyCount">
      <soap:operation soapAction="http://tempuri.org/IService/GetTimeLineMaxFrequecyCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeLineMaxDate">
      <soap:operation soapAction="http://tempuri.org/IService/GetTimeLineMaxDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeLineMinDate">
      <soap:operation soapAction="http://tempuri.org/IService/GetTimeLineMinDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformTextualSearch">
      <soap:operation soapAction="http://tempuri.org/IService/PerformTextualSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDBPropertyByObjectId">
      <soap:operation soapAction="http://tempuri.org/IService/GetDBPropertyByObjectId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObject">
      <soap:operation soapAction="http://tempuri.org/IService/GetObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDBPropertyByObjectIds">
      <soap:operation soapAction="http://tempuri.org/IService/GetDBPropertyByObjectIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecifiedPropertiesOfObjectsByTypes">
      <soap:operation soapAction="http://tempuri.org/IService/GetSpecifiedPropertiesOfObjectsByTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterNewDataSource">
      <soap:operation soapAction="http://tempuri.org/IService/RegisterNewDataSource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDataSourceACLs">
      <soap:operation soapAction="http://tempuri.org/IService/RetrieveDataSourceACLs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjectByIDs">
      <soap:operation soapAction="http://tempuri.org/IService/GetObjectByIDs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastAsignedDataSourceId">
      <soap:operation soapAction="http://tempuri.org/IService/GetLastAsignedDataSourceId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastAsignedObjectId">
      <soap:operation soapAction="http://tempuri.org/IService/GetLastAsignedObjectId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastAsignedPropertyId">
      <soap:operation soapAction="http://tempuri.org/IService/GetLastAsignedPropertyId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastAsignedRelationId">
      <soap:operation soapAction="http://tempuri.org/IService/GetLastAsignedRelationId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastAssignedGraphaId">
      <soap:operation soapAction="http://tempuri.org/IService/GetLastAssignedGraphaId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDBPropertyByObjectIdsWithoutAuthorization">
      <soap:operation soapAction="http://tempuri.org/IService/GetDBPropertyByObjectIdsWithoutAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelationships">
      <soap:operation soapAction="http://tempuri.org/IService/RetrieveRelationships" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelationships">
      <soap:operation soapAction="http://tempuri.org/IService/GetRelationships" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveNew">
      <soap:operation soapAction="http://tempuri.org/IService/SaveNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGraphArrangements">
      <soap:operation soapAction="http://tempuri.org/IService/GetGraphArrangements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGraphImage">
      <soap:operation soapAction="http://tempuri.org/IService/GetGraphImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGraphArrangementXML">
      <soap:operation soapAction="http://tempuri.org/IService/GetGraphArrangementXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGraph">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteGraph" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelationshipsBySourceOrTargetObjectWithoutAuthParams">
      <soap:operation soapAction="http://tempuri.org/IService/GetRelationshipsBySourceOrTargetObjectWithoutAuthParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubsetOfConceptsByPermission">
      <soap:operation soapAction="http://tempuri.org/IService/GetSubsetOfConceptsByPermission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveTopNDataSourceACLs">
      <soap:operation soapAction="http://tempuri.org/IService/RetrieveTopNDataSourceACLs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelationshipsBySourceObject">
      <soap:operation soapAction="http://tempuri.org/IService/GetRelationshipsBySourceObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelationshipsBySourceOrTargetObject">
      <soap:operation soapAction="http://tempuri.org/IService/GetRelationshipsBySourceOrTargetObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExistingRelationship">
      <soap:operation soapAction="http://tempuri.org/IService/GetExistingRelationship" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSourceLink">
      <soap:operation soapAction="http://tempuri.org/IService/GetSourceLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecifiedPropertiesOfObjectsByTypeAndValue">
      <soap:operation soapAction="http://tempuri.org/IService/GetSpecifiedPropertiesOfObjectsByTypeAndValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://core-kavosh:9061/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>