Servers/Horizon/GPAS.Horizon.Access/Service References/SearchService/service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities.Sync" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Publish" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GPAS.GeoSearch" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GPAS.FilterSearch" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities.SearchEngine.Documents" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GPAS.StatisticalQuery" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GPAS.StatisticalQuery.ResultNode" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities.IndexChecking" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GPAS.TextualSearch" />
  <xs:element name="QuickSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q1:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuickSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" minOccurs="0" name="QuickSearchResult" nillable="true" type="q2:ArrayOfSearchObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformFilterSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stream" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="count" nillable="true" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q3:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformFilterSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" minOccurs="0" name="PerformFilterSearchResult" nillable="true" type="q4:ArrayOfSearchObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformSelectMatching">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stream" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObjectIDs" nillable="true" type="q5:ArrayOflong" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q6:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformSelectMatchingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PerformSelectMatchingResult" nillable="true" type="q7:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPropertiesSameWith">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts" minOccurs="0" name="properties" nillable="true" type="q8:ArrayOfKProperty" />
        <xs:element minOccurs="0" name="totalResultsThreshold" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q9:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPropertiesSameWithResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" minOccurs="0" name="FindPropertiesSameWithResult" nillable="true" type="q10:ArrayOfPropertiesMatchingResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncPublishChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities.Sync" minOccurs="0" name="addedConcepts" nillable="true" type="q11:AddedConcepts" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities.Sync" minOccurs="0" name="modifiedConcepts" nillable="true" type="q12:ModifiedConcepts" />
        <xs:element minOccurs="0" name="dataSourceID" type="xs:long" />
        <xs:element minOccurs="0" name="isContinousPublish" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncPublishChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Publish" minOccurs="0" name="SyncPublishChangesResult" nillable="true" type="q13:SynchronizationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalizeContinousPublish">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalizeContinousPublishResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetIndexes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteExistingIndexes" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetIndexesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsDataIndicesStable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsDataIndicesStableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsDataIndicesStableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSearchIndexes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSearchIndexesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Optimize">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OptimizeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformGeoCircleSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GPAS.GeoSearch" minOccurs="0" name="circleSearchCriteria" nillable="true" type="q14:CircleSearchCriteria" />
        <xs:element minOccurs="0" name="maxResult" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q15:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformGeoCircleSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" minOccurs="0" name="PerformGeoCircleSearchResult" nillable="true" type="q16:ArrayOfSearchObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformGeoPolygonSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/GPAS.GeoSearch" minOccurs="0" name="polygonSearchCriteria" nillable="true" type="q17:PolygonSearchCriteria" />
        <xs:element minOccurs="0" name="maxResult" type="xs:int" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q18:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformGeoPolygonSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" minOccurs="0" name="PerformGeoPolygonSearchResult" nillable="true" type="q19:ArrayOfSearchObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformGeoCircleFilterSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/GPAS.GeoSearch" minOccurs="0" name="circleSearchCriteria" nillable="true" type="q20:CircleSearchCriteria" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/GPAS.FilterSearch" minOccurs="0" name="filterSearchCriteria" nillable="true" type="q21:CriteriaSet" />
        <xs:element minOccurs="0" name="maxResult" type="xs:int" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q22:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformGeoCircleFilterSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" minOccurs="0" name="PerformGeoCircleFilterSearchResult" nillable="true" type="q23:ArrayOfSearchObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformGeoPolygonFilterSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/GPAS.GeoSearch" minOccurs="0" name="polygonSearchCriteria" nillable="true" type="q24:PolygonSearchCriteria" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/GPAS.FilterSearch" minOccurs="0" name="filterSearchCriteria" nillable="true" type="q25:CriteriaSet" />
        <xs:element minOccurs="0" name="maxResult" type="xs:int" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q26:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformGeoPolygonFilterSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" minOccurs="0" name="PerformGeoPolygonFilterSearchResult" nillable="true" type="q27:ArrayOfSearchObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentPossibleExtractedContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="docID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentPossibleExtractedContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDocumentPossibleExtractedContentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewGroupFieldsToSearchServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="newGroupsName" nillable="true" type="q28:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewGroupFieldsToSearchServerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchronizeDataSource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="dataSourceInfo" nillable="true" type="q29:DataSourceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchronizeDataSourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Publish" minOccurs="0" name="SynchronizeDataSourceResult" nillable="true" type="q30:SynchronizationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSources">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataSourceType" type="xs:long" />
        <xs:element minOccurs="0" name="star" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q31:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="GetDataSourcesResult" nillable="true" type="q32:ArrayOfDataSourceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDataSources">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q33:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDataSourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="GetAllDataSourcesResult" nillable="true" type="q34:ArrayOfDataSourceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FaceDetection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imageFile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="extention" nillable="true" type="xs:string" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q35:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FaceDetectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities.SearchEngine.Documents" minOccurs="0" name="FaceDetectionResult" nillable="true" type="q36:ArrayOfBoundingBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FaceRecognition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imageFile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="extention" nillable="true" type="xs:string" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities.SearchEngine.Documents" minOccurs="0" name="boundingBoxs" nillable="true" type="q37:ArrayOfBoundingBox" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q38:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FaceRecognitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" minOccurs="0" name="FaceRecognitionResult" nillable="true" type="q39:ArrayOfRetrievedFace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsMachneVisonServiceInstalled">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsMachneVisonServiceInstalledResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsMachneVisonServiceInstalledResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunStatisticalQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryByteArray" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authParams" nillable="true" type="q40:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunStatisticalQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/GPAS.StatisticalQuery" minOccurs="0" name="RunStatisticalQueryResult" nillable="true" type="q41:QueryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveObjectIDsByStatisticalQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryByteArray" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="PassObjectsCountLimit" type="xs:int" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authParams" nillable="true" type="q42:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveObjectIDsByStatisticalQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RetrieveObjectIDsByStatisticalQueryResult" nillable="true" type="q43:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrievePropertyValueStatistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryByteArray" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="exploredPropertyTypeUri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startOffset" type="xs:int" />
        <xs:element minOccurs="0" name="resultsLimit" type="xs:int" />
        <xs:element minOccurs="0" name="minimumCount" type="xs:long" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authParams" nillable="true" type="q44:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrievePropertyValueStatisticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/GPAS.StatisticalQuery" minOccurs="0" name="RetrievePropertyValueStatisticsResult" nillable="true" type="q45:PropertyValueStatistics" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveLinkTypeStatistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryByteArray" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authParams" nillable="true" type="q46:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveLinkTypeStatisticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/GPAS.StatisticalQuery" minOccurs="0" name="RetrieveLinkTypeStatisticsResult" nillable="true" type="q47:LinkTypeStatistics" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveLinkedObjectIDsByStatisticalQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryByteArray" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="PassObjectsCountLimit" type="xs:int" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q48:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveLinkedObjectIDsByStatisticalQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RetrieveLinkedObjectIDsByStatisticalQueryResult" nillable="true" type="q49:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrievePropertyBarValuesStatistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryByteArray" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="numericPropertyTypeUri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bucketCount" type="xs:long" />
        <xs:element minOccurs="0" name="minValue" type="xs:double" />
        <xs:element minOccurs="0" name="maxValue" type="xs:double" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q50:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrievePropertyBarValuesStatisticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/GPAS.StatisticalQuery.ResultNode" minOccurs="0" name="RetrievePropertyBarValuesStatisticsResult" nillable="true" type="q51:PropertyBarValues" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IndexChecking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities.IndexChecking" minOccurs="0" name="input" nillable="true" type="q52:SearchIndexCheckingInput" />
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParameters" nillable="true" type="q53:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IndexCheckingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities.IndexChecking" minOccurs="0" name="IndexCheckingResult" nillable="true" type="q54:SearchIndexCheckingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAvailable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAvailableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeLineMaxFrequecyCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="propertiesTypeUri" nillable="true" type="q55:ArrayOfstring" />
        <xs:element minOccurs="0" name="binLevel" nillable="true" type="xs:string" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q56:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeLineMaxFrequecyCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTimeLineMaxFrequecyCountResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeLineMaxDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="propertiesTypeUri" nillable="true" type="q57:ArrayOfstring" />
        <xs:element minOccurs="0" name="binLevel" nillable="true" type="xs:string" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q58:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeLineMaxDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTimeLineMaxDateResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeLineMinDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="propertiesTypeUri" nillable="true" type="q59:ArrayOfstring" />
        <xs:element minOccurs="0" name="binLevel" nillable="true" type="xs:string" />
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q60:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeLineMinDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTimeLineMinDateResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformTextualSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stream" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q61:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformTextualSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/GPAS.TextualSearch" minOccurs="0" name="PerformTextualSearchResult" nillable="true" type="q62:ArrayOfBaseSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBPropertyByObjectId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objectId" type="xs:long" />
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q63:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBPropertyByObjectIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" minOccurs="0" name="GetDBPropertyByObjectIdResult" nillable="true" type="q64:ArrayOfSearchProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objectId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" minOccurs="0" name="GetObjectResult" nillable="true" type="q65:SearchObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBPropertyByObjectIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="propertyIds" nillable="true" type="q66:ArrayOflong" />
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q67:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBPropertyByObjectIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" minOccurs="0" name="GetDBPropertyByObjectIdsResult" nillable="true" type="q68:ArrayOfSearchProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecifiedPropertiesOfObjectsByTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objectIDs" nillable="true" type="q69:ArrayOflong" />
        <xs:element xmlns:q70="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="specifiedPropertyTypeUris" nillable="true" type="q70:ArrayOfstring" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q71:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecifiedPropertiesOfObjectsByTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" minOccurs="0" name="GetSpecifiedPropertiesOfObjectsByTypesResult" nillable="true" type="q72:ArrayOfSearchProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNewDataSource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dsId" type="xs:long" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="type" type="q73:DataSourceType" />
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="acl" nillable="true" type="q74:ACL" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="createBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="createdTime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNewDataSourceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveDataSourceACLs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dataSourceIDs" nillable="true" type="q75:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveDataSourceACLsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" minOccurs="0" name="RetrieveDataSourceACLsResult" nillable="true" type="q76:ArrayOfSearchDataSourceACL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectByIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objectIDs" nillable="true" type="q77:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectByIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" minOccurs="0" name="GetObjectByIDsResult" nillable="true" type="q78:ArrayOfSearchObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastAsignedDataSourceId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastAsignedDataSourceIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastAsignedDataSourceIdResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastAsignedObjectId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastAsignedObjectIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastAsignedObjectIdResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastAsignedPropertyId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastAsignedPropertyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastAsignedPropertyIdResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastAsignedRelationId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastAsignedRelationIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastAsignedRelationIdResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastAssignedGraphaId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastAssignedGraphaIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastAssignedGraphaIdResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBPropertyByObjectIdsWithoutAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objectIDs" nillable="true" type="q79:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBPropertyByObjectIdsWithoutAuthorizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" minOccurs="0" name="GetDBPropertyByObjectIdsWithoutAuthorizationResult" nillable="true" type="q80:ArrayOfSearchProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveRelationships">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="relationshipIDs" nillable="true" type="q81:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveRelationshipsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" minOccurs="0" name="RetrieveRelationshipsResult" nillable="true" type="q82:ArrayOfSearchRelationship" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationships">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="relationshipIDs" nillable="true" type="q83:ArrayOflong" />
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q84:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationshipsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" minOccurs="0" name="GetRelationshipsResult" nillable="true" type="q85:ArrayOfSearchRelationship" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" minOccurs="0" name="dbGraphArrangement" nillable="true" type="q86:SearchGraphArrangement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" minOccurs="0" name="SaveNewResult" nillable="true" type="q87:SearchGraphArrangement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGraphArrangements">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q88:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGraphArrangementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" minOccurs="0" name="GetGraphArrangementsResult" nillable="true" type="q89:ArrayOfSearchGraphArrangement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGraphImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbGrapharagmentID" type="xs:int" />
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q90:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGraphImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGraphImageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGraphArrangementXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbGraphArrangementID" type="xs:int" />
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q91:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGraphArrangementXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGraphArrangementXMLResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGraph">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGraphResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGraphResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationshipsBySourceOrTargetObjectWithoutAuthParams">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objectIDs" nillable="true" type="q92:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationshipsBySourceOrTargetObjectWithoutAuthParamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" minOccurs="0" name="GetRelationshipsBySourceOrTargetObjectWithoutAuthParamsResult" nillable="true" type="q93:ArrayOfSearchRelationship" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubsetOfConceptsByPermission">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" minOccurs="0" name="conceptType" type="q94:ConceptType" />
        <xs:element xmlns:q95="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IDs" nillable="true" type="q95:ArrayOflong" />
        <xs:element xmlns:q96="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="groupNames" nillable="true" type="q96:ArrayOfstring" />
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="minimumPermission" type="q97:Permission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubsetOfConceptsByPermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSubsetOfConceptsByPermissionResult" nillable="true" type="q98:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveTopNDataSourceACLs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="topN" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveTopNDataSourceACLsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" minOccurs="0" name="RetrieveTopNDataSourceACLsResult" nillable="true" type="q99:ArrayOfSearchDataSourceACL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationshipsBySourceObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objectID" type="xs:long" />
        <xs:element minOccurs="0" name="typeUri" nillable="true" type="xs:string" />
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q100:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationshipsBySourceObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" minOccurs="0" name="GetRelationshipsBySourceObjectResult" nillable="true" type="q101:ArrayOfSearchRelationship" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationshipsBySourceOrTargetObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objectIDs" nillable="true" type="q102:ArrayOflong" />
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q103:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationshipsBySourceOrTargetObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" minOccurs="0" name="GetRelationshipsBySourceOrTargetObjectResult" nillable="true" type="q104:ArrayOfSearchRelationship" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExistingRelationship">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeUri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="source" type="xs:long" />
        <xs:element minOccurs="0" name="target" type="xs:long" />
        <xs:element minOccurs="0" name="direction" type="xs:int" />
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q105:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExistingRelationshipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" minOccurs="0" name="GetExistingRelationshipResult" nillable="true" type="q106:SearchRelationship" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objectId" type="xs:long" />
        <xs:element minOccurs="0" name="typeUri" nillable="true" type="xs:string" />
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q107:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" minOccurs="0" name="GetSourceLinkResult" nillable="true" type="q108:ArrayOfSearchRelationship" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecifiedPropertiesOfObjectsByTypeAndValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objectIDs" nillable="true" type="q109:ArrayOflong" />
        <xs:element minOccurs="0" name="propertyTypeUri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="propertyValue" nillable="true" type="xs:string" />
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="authorizationParametters" nillable="true" type="q110:AuthorizationParametters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecifiedPropertiesOfObjectsByTypeAndValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/GPAS.SearchServer.Entities" minOccurs="0" name="GetSpecifiedPropertiesOfObjectsByTypeAndValueResult" nillable="true" type="q111:ArrayOfSearchProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>