Servers/Dispatch/ServiceAccess/Service References/JobService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dispatchserver:5021/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dispatchserver:5021/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dispatchserver:5021/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GPAS.JobServer.Logic.Entities" />
      <xsd:import schemaLocation="http://dispatchserver:5021/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://dispatchserver:5021/Service.svc?xsd=xsd4" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetJobRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobRequests" />
  </wsdl:message>
  <wsdl:message name="IService_GetJobRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RegisterNewImportRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterNewImportRequests" />
  </wsdl:message>
  <wsdl:message name="IService_RegisterNewImportRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterNewImportRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUriOfDatabasesForImport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUriOfDatabasesForImport" />
  </wsdl:message>
  <wsdl:message name="IService_GetUriOfDatabasesForImport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUriOfDatabasesForImportResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetTablesAndViewsPreviewOfDatabaseForImport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTablesAndViewsPreviewOfDatabaseForImport" />
  </wsdl:message>
  <wsdl:message name="IService_GetTablesAndViewsPreviewOfDatabaseForImport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTablesAndViewsPreviewOfDatabaseForImportResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetJobRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetJobRequests" message="tns:IService_GetJobRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetJobRequestsResponse" message="tns:IService_GetJobRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterNewImportRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RegisterNewImportRequests" message="tns:IService_RegisterNewImportRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RegisterNewImportRequestsResponse" message="tns:IService_RegisterNewImportRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUriOfDatabasesForImport">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUriOfDatabasesForImport" message="tns:IService_GetUriOfDatabasesForImport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUriOfDatabasesForImportResponse" message="tns:IService_GetUriOfDatabasesForImport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTablesAndViewsPreviewOfDatabaseForImport">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTablesAndViewsPreviewOfDatabaseForImport" message="tns:IService_GetTablesAndViewsPreviewOfDatabaseForImport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTablesAndViewsPreviewOfDatabaseForImportResponse" message="tns:IService_GetTablesAndViewsPreviewOfDatabaseForImport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetJobRequests">
      <soap:operation soapAction="http://tempuri.org/IService/GetJobRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterNewImportRequests">
      <soap:operation soapAction="http://tempuri.org/IService/RegisterNewImportRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUriOfDatabasesForImport">
      <soap:operation soapAction="http://tempuri.org/IService/GetUriOfDatabasesForImport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTablesAndViewsPreviewOfDatabaseForImport">
      <soap:operation soapAction="http://tempuri.org/IService/GetTablesAndViewsPreviewOfDatabaseForImport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://dispatchserver:5021/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>