Servers/Horizon/GPAS.Horizon.Access/Service References/DispatchService/GPAS.Dispatch.Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SynchronizationChanges">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="StayUnsynchronizeConceptsIDs" nillable="true" type="q1:ArrayOflong" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SynchronizedConceptsIDs" nillable="true" type="q2:ArrayOflong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SynchronizationChanges" nillable="true" type="tns:SynchronizationChanges" />
</xs:schema>