Servers/Dispatch/ServiceAccess/Service References/HorizonService/GPAS.Horizon.Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/GPAS.Horizon.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GPAS.Horizon.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts.SearchAroundResult" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfCustomSearchAroundResultIDs">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomSearchAroundResultIDs" nillable="true" type="tns:CustomSearchAroundResultIDs" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomSearchAroundResultIDs" nillable="true" type="tns:ArrayOfCustomSearchAroundResultIDs" />
  <xs:complexType name="CustomSearchAroundResultIDs">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts.SearchAroundResult" minOccurs="0" name="EventBasedNotLoadedResults" nillable="true" type="q1:ArrayOfEventBasedResultsPerSearchedObjects" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts.SearchAroundResult" minOccurs="0" name="RelationshipNotLoadedResultIDs" nillable="true" type="q2:ArrayOfRelationshipBasedResultsPerSearchedObjects" />
      <xs:element minOccurs="0" name="SearchAroundStepGuid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomSearchAroundResultIDs" nillable="true" type="tns:CustomSearchAroundResultIDs" />
  <xs:complexType name="ArrayOfIndexModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IndexModel" nillable="true" type="tns:IndexModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIndexModel" nillable="true" type="tns:ArrayOfIndexModel" />
  <xs:complexType name="IndexModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="NodeType" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PropertiesType" nillable="true" type="q3:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndexModel" nillable="true" type="tns:IndexModel" />
</xs:schema>