Servers/Dispatch/ServiceAccess/Service References/HorizonService/GPAS.Dispatch.Entities.Concepts.SearchAroundResult.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts.SearchAroundResult" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts.SearchAroundResult" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRelationshipBasedResultsPerSearchedObjects">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RelationshipBasedResultsPerSearchedObjects" nillable="true" type="tns:RelationshipBasedResultsPerSearchedObjects" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelationshipBasedResultsPerSearchedObjects" nillable="true" type="tns:ArrayOfRelationshipBasedResultsPerSearchedObjects" />
  <xs:complexType name="RelationshipBasedResultsPerSearchedObjects">
    <xs:sequence>
      <xs:element minOccurs="0" name="NotLoadedResults" nillable="true" type="tns:ArrayOfRelationshipBasedNotLoadedResult" />
      <xs:element minOccurs="0" name="SearchedObjectID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelationshipBasedResultsPerSearchedObjects" nillable="true" type="tns:RelationshipBasedResultsPerSearchedObjects" />
  <xs:complexType name="ArrayOfRelationshipBasedNotLoadedResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RelationshipBasedNotLoadedResult" nillable="true" type="tns:RelationshipBasedNotLoadedResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelationshipBasedNotLoadedResult" nillable="true" type="tns:ArrayOfRelationshipBasedNotLoadedResult" />
  <xs:complexType name="RelationshipBasedNotLoadedResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="RelationshipID" type="xs:long" />
      <xs:element minOccurs="0" name="TargetObjectID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelationshipBasedNotLoadedResult" nillable="true" type="tns:RelationshipBasedNotLoadedResult" />
  <xs:complexType name="ArrayOfEventBasedResultsPerSearchedObjects">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventBasedResultsPerSearchedObjects" nillable="true" type="tns:EventBasedResultsPerSearchedObjects" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventBasedResultsPerSearchedObjects" nillable="true" type="tns:ArrayOfEventBasedResultsPerSearchedObjects" />
  <xs:complexType name="EventBasedResultsPerSearchedObjects">
    <xs:sequence>
      <xs:element minOccurs="0" name="NotLoadedResults" nillable="true" type="tns:ArrayOfEventBasedNotLoadedResult" />
      <xs:element minOccurs="0" name="SearchedObjectID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventBasedResultsPerSearchedObjects" nillable="true" type="tns:EventBasedResultsPerSearchedObjects" />
  <xs:complexType name="ArrayOfEventBasedNotLoadedResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventBasedNotLoadedResult" nillable="true" type="tns:EventBasedNotLoadedResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventBasedNotLoadedResult" nillable="true" type="tns:ArrayOfEventBasedNotLoadedResult" />
  <xs:complexType name="EventBasedNotLoadedResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstRealationshipID" type="xs:long" />
      <xs:element minOccurs="0" name="SecondRealationshipID" type="xs:long" />
      <xs:element minOccurs="0" name="TargetObjectID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventBasedNotLoadedResult" nillable="true" type="tns:EventBasedNotLoadedResult" />
</xs:schema>