Workspace/WorkspaceServiceAccess/Service References/RemoteService/GPAS.Dispatch.Entities.Concepts.ImageProcessing.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts.ImageProcessing" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts.ImageProcessing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts" />
  <xs:complexType name="ArrayOfBoundingBox">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BoundingBox" nillable="true" type="tns:BoundingBox" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBoundingBox" nillable="true" type="tns:ArrayOfBoundingBox" />
  <xs:complexType name="BoundingBox">
    <xs:sequence>
      <xs:element minOccurs="0" name="height" type="xs:int" />
      <xs:element minOccurs="0" name="landmarks" nillable="true" type="tns:Landmarks" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="topLeft" type="q1:Point" />
      <xs:element minOccurs="0" name="width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BoundingBox" nillable="true" type="tns:BoundingBox" />
  <xs:complexType name="Landmarks">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="marks" nillable="true" type="q2:ArrayOfdouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Landmarks" nillable="true" type="tns:Landmarks" />
  <xs:complexType name="ArrayOfRetrievedFaceKObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RetrievedFaceKObject" nillable="true" type="tns:RetrievedFaceKObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRetrievedFaceKObject" nillable="true" type="tns:ArrayOfRetrievedFaceKObject" />
  <xs:complexType name="RetrievedFaceKObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="boundingBox" nillable="true" type="tns:BoundingBox" />
      <xs:element minOccurs="0" name="distance" type="xs:double" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts" minOccurs="0" name="kObject" nillable="true" type="q3:KObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrievedFaceKObject" nillable="true" type="tns:RetrievedFaceKObject" />
</xs:schema>