Workspace/WorkspaceServiceAccess/Service References/RemoteService/GPAS.FilterSearch.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GPAS.FilterSearch" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GPAS.FilterSearch" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CriteriaSet">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Criterias" nillable="true" type="tns:ArrayOfCriteriaBase" />
          <xs:element minOccurs="0" name="SetOperator" type="tns:BooleanOperator" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CriteriaSet" nillable="true" type="tns:CriteriaSet" />
  <xs:complexType name="BaseModel">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseModel" nillable="true" type="tns:BaseModel" />
  <xs:complexType name="ArrayOfCriteriaBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CriteriaBase" nillable="true" type="tns:CriteriaBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCriteriaBase" nillable="true" type="tns:ArrayOfCriteriaBase" />
  <xs:complexType name="CriteriaBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CriteriaBase" nillable="true" type="tns:CriteriaBase" />
  <xs:simpleType name="BooleanOperator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="All" />
      <xs:enumeration value="Any" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BooleanOperator" nillable="true" type="tns:BooleanOperator" />
</xs:schema>