Workspace/WorkspaceServiceAccess/Service References/RemoteService/GPAS.SearchAround.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GPAS.SearchAround" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GPAS.SearchAround" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts.SearchAroundResult" />
  <xs:complexType name="CustomSearchAroundResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts.SearchAroundResult" minOccurs="0" name="EventBaseKLink" nillable="true" type="q1:ArrayOfEventBasedResultsPerSearchedObjects" />
      <xs:element minOccurs="0" name="IsResultsCountMoreThanThreshold" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities.Concepts.SearchAroundResult" minOccurs="0" name="Ralationships" nillable="true" type="q2:ArrayOfRelationshipBasedResultsPerSearchedObjects" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomSearchAroundResult" nillable="true" type="tns:CustomSearchAroundResult" />
</xs:schema>