Workspace/WorkspaceServiceAccess/Service References/RemoteService/GPAS.Dispatch.Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GPAS.Dispatch.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" />
  <xs:complexType name="ArrayOfKGraphArrangement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KGraphArrangement" nillable="true" type="tns:KGraphArrangement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKGraphArrangement" nillable="true" type="tns:ArrayOfKGraphArrangement" />
  <xs:complexType name="KGraphArrangement">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataSourceID" type="xs:long" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GraphArrangement" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="GraphImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="NodesCount" type="xs:int" />
      <xs:element minOccurs="0" name="TimeCreated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KGraphArrangement" nillable="true" type="tns:KGraphArrangement" />
  <xs:complexType name="ArrayOfSemiStructuredDataImportRequestMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SemiStructuredDataImportRequestMetadata" nillable="true" type="tns:SemiStructuredDataImportRequestMetadata" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSemiStructuredDataImportRequestMetadata" nillable="true" type="tns:ArrayOfSemiStructuredDataImportRequestMetadata" />
  <xs:complexType name="SemiStructuredDataImportRequestMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" name="serializedACL" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="serializedMaterialBase" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="serializedTypeMapping" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SemiStructuredDataImportRequestMetadata" nillable="true" type="tns:SemiStructuredDataImportRequestMetadata" />
  <xs:complexType name="ArrayOfDataSourceACL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataSourceACL" nillable="true" type="tns:DataSourceACL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataSourceACL" nillable="true" type="tns:ArrayOfDataSourceACL" />
  <xs:complexType name="DataSourceACL">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GPAS.AccessControl" minOccurs="0" name="Acl" nillable="true" type="q1:ACL" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataSourceACL" nillable="true" type="tns:DataSourceACL" />
  <xs:complexType name="ArrayOfDirectoryContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DirectoryContent" nillable="true" type="tns:DirectoryContent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDirectoryContent" nillable="true" type="tns:ArrayOfDirectoryContent" />
  <xs:complexType name="DirectoryContent">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContentType" type="tns:DirectoryContentType" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UriAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DirectoryContent" nillable="true" type="tns:DirectoryContent" />
  <xs:simpleType name="DirectoryContentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Directory" />
      <xs:enumeration value="File" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DirectoryContentType" nillable="true" type="tns:DirectoryContentType" />
  <xs:complexType name="GeographicalLocationModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeographicalLocationModel" nillable="true" type="tns:GeographicalLocationModel" />
  <xs:complexType name="KInvestigation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InvestigationInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="InvestigationImage" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="InvestigationStatus" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KInvestigation" nillable="true" type="tns:KInvestigation" />
  <xs:complexType name="InvestigationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvestigationInfo" nillable="true" type="tns:InvestigationInfo" />
  <xs:complexType name="ArrayOfInvestigationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvestigationInfo" nillable="true" type="tns:InvestigationInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvestigationInfo" nillable="true" type="tns:ArrayOfInvestigationInfo" />
</xs:schema>