Servers/Horizon/GPAS.Horizon.Access/Service References/RepositoryService/GPAS.RepositoryServer.Entities.Publish.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GPAS.RepositoryServer.Entities.Publish" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GPAS.RepositoryServer.Entities.Publish" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfDBResolvedObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DBResolvedObject" nillable="true" type="tns:DBResolvedObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDBResolvedObject" nillable="true" type="tns:ArrayOfDBResolvedObject" />
  <xs:complexType name="DBResolvedObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="MatchedProperties" nillable="true" type="tns:ArrayOfDBMatchedProperty" />
      <xs:element minOccurs="0" name="ResolutionMasterObjectID" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ResolvedObjectIDs" nillable="true" type="q1:ArrayOflong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DBResolvedObject" nillable="true" type="tns:DBResolvedObject" />
  <xs:complexType name="ArrayOfDBMatchedProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DBMatchedProperty" nillable="true" type="tns:DBMatchedProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDBMatchedProperty" nillable="true" type="tns:ArrayOfDBMatchedProperty" />
  <xs:complexType name="DBMatchedProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="TypeUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DBMatchedProperty" nillable="true" type="tns:DBMatchedProperty" />
</xs:schema>